<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <handlers>
            <remove name="CGI-exe" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="Either" requireAccess="Execute" allowPathInfo="true" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="text/plain" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="header.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
